@model BookCreateModel
@{
    ViewData["Title"] = "Create";
}

<div class="container-fluid">
    <div class="row">
        <!-- left column -->
        <div class="col-md-6">
        <!-- general form elements -->
        <div class="card card-primary">
            <div class="card-header">
            <h3 class="card-title">Create Book</h3>
            </div>
            <!-- /.card-header -->
            <!-- form start -->
            <form role="form" asp-antiforgery="true" asp-area="Admin" asp-controller="Book" asp-action="Create" method="post">
                <div class="card-body">
                    <div class="form-group">
                        <label asp-for="Name"></label>
                        <input type="text" class="form-control" asp-for="Name" placeholder="Enter book name">
                    </div>
                    <div class="form-group">
                        <label asp-for="Price"></label>
                        <input type="text" class="form-control" asp-for="Price" placeholder="Enter book price">
                    </div>
                    <div class="form-group">
                        <label asp-for="AuthorName"></label>
                        <input type="text" class="form-control" asp-for="AuthorName" placeholder="Enter author name">
                    </div>
                    <div class="form-group">
                        <label asp-for="ReleaseDate"></label>
                        <input type="text" class="form-control" asp-for="ReleaseDate" placeholder="Enter release date">
                    </div>
                </div>
            <!-- /.card-body -->

                <div class="card-footer">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
        <!-- /.card -->

        </div>
        <!--/.col (left) -->
    </div>
    <!-- /.row -->
</div><!-- /.container-fluid -->

